.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}
.services-title {
    position: relative;
}
.services-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.services-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.service-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding:40px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    margin-bottom: 80px;
}
.service-format h3 {
    font-size: 20px;
    font-weight: 600;
}
.service-format h2 {
    font-size: 28px;
    font-weight: 800;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-format p {
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width:300px;
}
.services-readmore {
    display: flex;
    gap:20px;
    align-items: center;
    margin: 20px;
}
.service-format:hover {
    border: 2px solid #ff00ff;
    background: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}

@media(max-width:768px){
    .services{
        align-items: start;
        gap:70px;
        margin: 20px 40px;
    }
    .services-title h1{
        padding: 0;
        font-size: 40px;
    }
    .services-title img{
        width:130px;
        margin-right: -20px;
    }
    .service-format{
        gap:20px;
        padding: 22px;
    }
    .service-format h2{
        font-size: 22px;
    }
    .service-format p{
        font-size: 18px;
        line-height: 28px;
        max-width: 300px;
    }
    .services-readmore{
        margin: 0;
    }
    .services-readmore img{
        width:20px;
        gap:30px
    }
    .service-container{
        grid-template-columns: 1fr 1fr;
        gap:30px;
    }
}